body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display: flex;

}

.space-between {
  justify-content: space-between;
}

.v-center {
  display: flex;
  align-items: center;
}

.h-center {
  justify-content: center;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}