.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../../assets/image/banner.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 815px;
    width: 100%;
}